name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v1

      - name: Install Node, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: v11.15.0

      - name: update destro
        run: |
          sudo apt-get update -y

      - name: install native dependencies
        run:  |
          sudo apt-get install build-essential libxtst-dev libpng++-dev libx11-dev zlib1g-dev libpng12-dev g++-4.8 gcc-4.8 python2.7 python-pip -y

      - name: Install yarn
        run: |
          npm install yarn node-gyp -g

      - name: Install deps
        run: |
          yarn install

      - name: Publish releases
        env:
          # These values are used for auto updates signing
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASS: ${{ secrets.APPLE_ID_PASS }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ null }}
          # This is used for uploading release assets to github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn postinstall && yarn build && yarn electron-builder --publish always --linux

